<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Modifier le livreur</title>
</head>
<body>
<h1>Modifier le livreur</h1>
<form th:action="@{/livreurs/editLivreur/{id}(id=${livreur.id})}" th:object="${livreur}" method="post">
    <label>Code livreur : <input type="text" th:field="*{codeLivreur}" required /></label><br>
    <label>Mot de passe : <input type="text" th:field="*{motDePasse}" /></label><br>
    <label>Nom : <input type="text" th:field="*{nomLivreur}" required /></label><br>
    <label>Prénom : <input type="text" th:field="*{prenomLivreur}"  /></label><br>
    <label>Numéro de la carte professionnelle : <input type="text" th:field="*{numeroCartePro}"  /></label><br>
    <label>Téléphone portable : <input type="text" th:field="*{telephonePortable}"  /></label><br>
    <label>Téléphone Kobby : <input type="text" th:field="*{telephoneKobby}" /></label><br>
    <label>Téléphone Alphapage: <input type="text" th:field="*{telephoneAlphapage}" /></label><br>
    <label> Mouvement:
       <input type="checkbox" th:field="*{mouvements}" multiple/>
    </label>
    <button type="submit">Enregistrer</button>

</form>
</body>
</html>
