<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Modifier une formule</title>
</head>
<body>
<h1>Modifier une formule</h1>
<form th:action="@{/formules/edit/{id}(id=${formule.id})}" th:object="${formule}" method="post">
    <label for="libelle">Libelle:</label>
    <input type="text" id="libelle" th:field="*{formule.libelle}" required />
    <br>
    <label for="formule">Formule:</label>
    <input type="text" id="formule" th:field="*{formule.formule}" required />
    <br>
    <label for="regle">Regle:</label>
    <input type="text" id="regle" th:field="*{formule.regle}" required />
    <br>
    <button type="submit">Modifier</button>
</form>
<a href="formules/list">Retour à la liste</a>

</body>
</html>
