<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier le client</title>
</head>
<body>
<h1>Modifier le client</h1>
<form th:action="@{/clients/editClient/{id}(id=${client.id})}" th:object="${client}" method="post">
    <label>Nom: <input type="text" th:field="*{name}" required></label>
    <label>Email: <input type="text" th:field="*{email}" required></label>
    <label>Adresse: <input type="text" th:field="*{adresse}" ></label>
    <label>Ville: <input type="text" th:field="*{ville}" ></label>
    <label>Téléphone: <input type="text" th:field="*{telephoneExploitation}" ></label>
    <label>Personnel et Fonction: <input type="text" th:field="*{personnelEtFonction}" ></label>
    <label>Ramassage 1: <input type="text" th:field="*{ramassage1}" ></label>
    <label>Ramassage 2: <input type="text" th:field="*{ramassage2}" ></label>
    <label>Ramassage 3: <input type="text" th:field="*{ramassage3}" ></label>
    <label>Ramassage 4: <input type="text" th:field="*{ramassage4}" ></label>
    <label>Ramassage 5: <input type="text" th:field="*{ramassage5}" ></label>
    <label>Ramassage 6: <input type="text" th:field="*{ramassage6}" ></label>
    <label>Ramassage 7: <input type="text" th:field="*{ramassage7}" ></label>
    <label>Envoi par défaut: <input type="text" th:field="*{envoiparDefaut}"></label>
    <label>Mémo de retour sécurité 1: <input type="text" th:field="*{memoRetourSecurite1}" required></label>
    <label>Mémo de retour sécurité 2: <input type="text" th:field="*{memoRetourSecurite2}" required></label>

    <button type="submit">Enregistrer</button>
</form>

</body>
</html>
