<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des clients</title>
</head>
<body>
<h1> Liste des clients</h1>
<a href="/clients/createClient"> Ajouter un nouveau client</a>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Telephone</th>
        <th>Personnel et Fonctions</th>
        <th>Ramassage 1</th>
        <th>Ramassage 2</th>
        <th>Ramassage 3</th>
        <th>Ramassage 4</th>
        <th>Ramassage 5</th>
        <th>Ramassage 6</th>
        <th>Ramassage 7</th>
        <th>Envoie par défaut</th>
        <th>Mémo de retour sécurité 1</th>
        <th>Mémo de retour sécurité 2</th>

    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.adresse}"></td>
        <td th:text="${client.ville}"></td>
        <td th:text="${client.telephoneExploitation}"></td>
        <td th:text="${client.PersonnelEtFonction}"></td>
        <td th:text="${client.ramassage1}"></td>
        <td th:text="${client.ramassage2}"></td>
        <td th:text="${client.ramassage3}"></td>
        <td th:text="${client.ramassage4}"></td>
        <td th:text="${client.ramassage5}"></td>
        <td th:text="${client.ramassage6}"></td>
        <td th:text="${client.ramassage7}"></td>
        <td th:text="${client.EnvoiparDefaut}"></td>
        <td th:text="${client.MemoRetourSecurite1}"></td>
        <td th:text="${client.MemoRetourSecurite2}"></td>
        <td>
            <a th:href="@{/clients/editClient/{id}(id=${client.id})}">Modifier</a>
            <a th:href="@{/clients/deleteClient/{id}(id=${client.id})}">Supprimer</a>

        </td>


    </tr>
</table>

</body>
</html>
