<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Jour Férié</title>
</head>
<body>
<h1>Modifier Jour Férié</h1>
<form th:action="@{/jourferies/editJF/{id}(id=${jourFerie.id})}" th:object="${jourFerie}" method="post">
    <label>Règle :
        <select th:field="*{regle.id}">
            <option th:each="regle : ${regles}" th:value="${regle.id}" th:text="${regle.nom}" th:selected="${regle.id == jourFerie.regle.id}"></option>
        </select>
    </label>
    <br><br>
    <label>Jours Fériés :
        <input type="date" th:field="*{jourFerie.joursFerieList}" multiple required/>
    </label>
    <br><br>
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
